<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Title>Gwapo Ambrad</Title>
  <CreationDateTime>2018-02-07T01:57:36.9087375+08:00</CreationDateTime>
  <ModifiedDateTime>2018-02-07T01:57:36.9087375+08:00</ModifiedDateTime>
  <Description>dzuh</Description>
  <NumberOfRobots>9</NumberOfRobots>
</Configuration>