<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Title>Simulation 1</Title>
  <CreationDateTime>2018-01-30T19:26:34.7279525+08:00</CreationDateTime>
  <ModifiedDateTime>2018-01-30T19:26:34.7279525+08:00</ModifiedDateTime>
  <Description>this is test 1</Description>
  <NumberOfRobots>6</NumberOfRobots>
</Configuration>